@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
* {
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
* ::section {
  background-color: #544e92;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: #fff;
}

section {
  min-height: 50vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.heading {
  text-align: center;
  background: linear-gradient(90deg, var(#544e92), var(#7E78C7));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .navbar a {
  font-size: 1.5rem;
  margin-left: 5rem;
  font-weight: bold;
  color: #7E78C7;
}
header .navbar a:hover {
  color: rgba(127, 120, 199, 0.4666666667);
}
header input {
  display: none;
}
header label {
  font-size: 3rem;
  color: #7E78C7;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.logo {
  font-size: large;
  font-weight: bold;
  padding: 10px 0px;
  margin-left: -20px;
}
.logo span {
  color: #7E78C7;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  top: 30%;
  transform: translateY(-30%);
  background-color: #7E78C7;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
}

.side-item {
  position: relative;
}
.side-item :not(:last-child) {
  margin-bottom: 20px;
}

.side-link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.side-link i {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #7E78C7;
  transition: all 0.3s;
}
.side-link .text-side {
  position: absolute;
  background-color: #7E78C7;
  height: 100%;
  padding-right: 50px;
  padding-left: 20px;
  line-height: 55px;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.side-item:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
}
.side-item:hover .text-side {
  transform: translateX(0);
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .image img {
  margin-left: 12vh;
  width: 32vw;
  animation: float 3s linear infinite;
}
.home .content p {
  font-size: 18px;
  color: var(--gray);
  padding: 1rem 0;
  line-height: 30px;
}
.home .content h3 {
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  line-height: 100%;
}
.home .content h3 span {
  color: #7E78C7;
  text-transform: uppercase;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3rem);
  }
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 5rem;
  border-radius: 12px;
  background: #544e92;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}
.btn :hover {
  transform: scale(1.05);
  box-shadow: 0 5px 7px rgb(87, 86, 86);
}

.about {
  margin-bottom: 100px;
  padding-bottom: 3rem;
}
.about .heading {
  margin-top: 30px;
  margin-bottom: 50px;
}
.about .column {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
}
.about .column .image {
  flex: 1 1 200px;
}
.about .column .image img {
  border-radius: px;
}
.about .column .content {
  flex: 1 1 240px;
}
.about .column .content p {
  font-size: 2rem;
  color: #666;
  padding: 16px 0;
  text-align: justify;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 5rem;
  border-radius: 12px;
  background: linear-gradient(90deg, var(#544e92), var(#7E78C7));
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}
.btn :hover {
  transform: scale(1.05);
  box-shadow: 0 5px 7px rgb(87, 86, 86);
}

.about {
  margin-bottom: 100px;
  padding-bottom: 3rem;
}
.about .heading {
  margin-top: 30px;
  margin-bottom: 50px;
}
.about .column {
  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
}
.about .column .image {
  flex: 1 1 200px;
}
.about .column .image img {
  border-radius: px;
}
.about .column .content {
  flex: 1 1 240px;
}
.about .column .content p {
  font-size: 2rem;
  color: #666;
  padding: 16px 0;
  text-align: justify;
}

#biodata {
  padding-top: 100px;
  text-align: center;
  margin-top: -120px;
}

.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 50px;
}

.box {
  width: 400px;
  height: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
  border-radius: 23px;
  flex-direction: column;
  color: #7E78C7;
  position: relative;
  overflow: hidden;
}

.prod, .prod1, .prod2, .prod3 {
  color: #7E78C7;
  font-size: 2.8rem;
  font-weight: bold;
}

.arr-container,
.cancle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: black;
  bottom: 0;
  right: 0;
  border-radius: 23px 0 23px 0;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.4s;
}

.arr-container {
  transform: rotate(0deg);
}

.active-arr {
  transform: translate(80%, 80%);
}

.left-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  padding: 20px 0 0 20px;
  transition: all 0.4s;
}

.left, .left1, .left2, .left3 {
  background: #7E78C7;
}

.off {
  transform: translate(-80%, -80%) rotate(90deg);
}

.active {
  transform: translate(0) rotate(0);
}

.left-container p {
  color: #fff;
  margin-bottom: 15px;
  font-size: 2.5rem;
  text-align: center;
  margin-right: 10px;
}
.left-container .icons {
  font-size: 1.6rem;
  margin-top: 10px;
}
.left-container .icons .teks {
  margin-top: 15px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 18px;
  margin-right: 15px;
  transition: all 0.4s;
  text-align: justify;
}

.maps {
  margin-left: -2vw;
  border-radius: 10px;
}

.slider, .slider1, .slider2, .slider3 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 4.5vw;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 250px;
  height: 250px;
}

.navigation-manual {
  position: absolute;
  width: 250px;
  margin-top: 220px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn :not(:last-child) {
  margin-right: 40px;
}
.manual-btn :hover {
  background: #fff;
}

#radio1:checked ~ .first, #radio4:checked ~ .first, #radio7:checked ~ .first, #radio10:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first, #radio5:checked ~ .first, #radio8:checked ~ .first, #radio11:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first, #radio6:checked ~ .first, #radio9:checked ~ .first, #radio12:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 250px;
  margin-top: 220px;
  justify-content: center;
}

.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div :not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1, #radio2:checked ~ .navigation-auto .auto-btn2, #radio3:checked ~ .navigation-auto .auto-btn3, #radio4:checked ~ .navigation-auto .auto-btn1, #radio5:checked ~ .navigation-auto .auto-btn2, #radio6:checked ~ .navigation-auto .auto-btn3, #radio7:checked ~ .navigation-auto .auto-btn1, #radio8:checked ~ .navigation-auto .auto-btn2, #radio9:checked ~ .navigation-auto .auto-btn3, #radio10:checked ~ .navigation-auto .auto-btn1, #radio11:checked ~ .navigation-auto .auto-btn2, #radio12:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

footer {
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: #7E78C7;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .container {
  display: flex;
  align-items: center;
  color: #7E78C7;
  max-width: 1440px;
  margin: 0 auto;
}
footer img {
  width: 30vw;
  height: 8vh;
}

.col-left {
  margin-left: 4rem;
  margin-right: 4vh;
  color: #fff;
  flex: 1;
  margin-right: 25px;
}
.col-left .footer-text {
  color: #fff;
  margin: 15px 0 30px;
  line-height: 25px;
  font-size: 1.8rem;
}

.social-media-list {
  display: flex;
}
.social-media-list li {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  display: grid;
  place-items: center;
  transition: all 0.3s;
  background-color: #fff;
  cursor: pointer;
}
.social-media-list li :not(:last-child) {
  margin-right: 15px;
}
.social-media-list li :hover {
  background-color: #7E78C7;
  border: 4px solid;
}
.social-media-list a {
  text-decoration: none;
  color: #7E78C7;
  font-size: 2rem;
}
.social-media-list li:hover a {
  color: #fff;
}

.col-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links-container {
  list-style: none;
}
.links-container :not(:last-child) {
  margin-right: 25px;
}
.links-container h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.links-container li {
  margin-top: 20px;
  font-size: 1.5rem;
}
.links-container li :hover a {
  opacity: 100%;
}
.links-container a {
  color: #fff;
  opacity: 50%;
  text-decoration: none;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  section {
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
  header {
    position: fixed;
  }
  header .navbar a {
    margin-left: 1.8rem;
  }
  .sidebar {
    display: none;
  }
  .col-left p,
.links-container a {
    font-size: 15px;
  }
  .col-left p br {
    display: none;
  }
}
@media (max-width: 768px) {
  header label {
    visibility: visible;
    opacity: 1;
  }
  header .navbar {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: var(--red);
    padding: 1rem 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 0.2s linear;
  }
  header .navbar a {
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
  }
  header input:checked ~ .navbar {
    transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before {
    content: "\f00d";
  }
  .home {
    flex-flow: column-reverse;
  }
  .home .image img {
    width: 70%;
  }
  .home .content h3 {
    font-size: 4rem;
    margin-top: 80px;
  }
  .home .content p {
    font-size: 1.5rem;
  }
  .slide {
    flex-flow: column-reverse;
  }
  footer .container {
    flex-direction: column;
    font-size: 10px;
  }
  .col-left {
    text-align: center;
    margin-right: 0;
  }
  .slider, .slider1, .slider2, .slider3 {
    margin-left: 2vw;
  }
  .social-media-list {
    margin: 0 auto;
    justify-content: center;
  }
  .col-right {
    width: 100%;
    margin: 50px 0 0;
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .col-right {
    flex-direction: column;
  }
  .links-container:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
