@import '_asset.scss';
*{
    font-family: $m,$ss;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    ::section{
      background-color: $dark;
      color: $white;
  }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    background: $white;
}

section { 
    min-height: 50vh;
    padding: 0 9%;
    padding-top: $pdt;
    padding-bottom: $pdb;
}

.heading {
    text-align: center;
    background: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: $fsheading;
    text-transform: uppercase;
    padding: $pd;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: $boxshadow;
    padding: $pd 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    .navbar {
        a {
            font-size: $fsnv;
            margin-left: $mlnav;
            font-weight: bold;
            color: $primary;
        }

        a:hover {
            color: $light;
        }
    }

    input {
        display: none;
    }

    label {
        font-size: $fslabel;
        color: $primary;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }
} 

.logo {
    span {
        color: $primary;
    }
        font-size: large;
        font-weight: bold;
        padding: $pdlogo;
        margin-left: $mllogo;
    }

.sidebar {
    z-index: $zi;
    position: fixed;
    top: 30%;
    transform: translateY(-30%);
    background-color: $primary;
    box-shadow: $bs;
  }

  .side-item {
    :not(:last-child) {
        margin-bottom: 20px;
      } 
    position: relative;
  }

  .side-link {
    color: $white;
    text-decoration: none;
    font-size: $fssidelink;
    i {
        width: $wsidelink;
        height: $hsidelink;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        transition: all 0.3s;
      }
    .text-side {
        position: absolute;
        background-color: $primary;
        height: 100%;
        padding-right: 50px;
        padding-left: 20px;
        line-height: 55px;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: -1;
      }
  }

  .side-item:hover {
    i {
    transform: scale(1.1);
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  }
  .text-side {
    transform: translateX(0);
  }
}
  
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .image img {
        margin-left: 12vh;
        width: 32vw;
        animation: float 3s linear infinite;
      }
    .content {
        p {
            font-size: 18px;
            color: var(--gray);
            padding: 1rem 0;
            line-height: 30px;
          }
        h3 {
        span {
            color: $primary;
            text-transform: uppercase;
          }
        font-size: 50px;
        color: $dblack;
        text-transform: uppercase;
        line-height: 100%;
     }
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-3rem);
    }
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 5rem;
    border-radius: 12px;
    background: $dark;
    font-size: 18px;
    color: $white;
    cursor: pointer;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
    :hover {
        transform: scale(1.05);
        box-shadow: 0 5px 7px rgb(87, 86, 86);
      }
  }
  .about {
    margin-bottom: 100px;
    padding-bottom: 3rem;
        .heading {
            margin-top: 30px;
            margin-bottom: 50px;
        }
      .column {
        display: flex;
        align-items: top;
        justify-content: center;
        flex-wrap: wrap;
        .image {
            flex: 1 1 200px;
            img {
                border-radius: px;
              }
          }
          .content {
            flex: 1 1 240px;
            p {
                font-size: 2rem;
                color: $gray;
                padding: 16px 0;
                text-align: justify;
              }
          }
      }
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 5rem;
    border-radius: 12px;
    background: $gradient;
    font-size: 18px;
    color: $white;
    cursor: pointer;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
    :hover {
        transform: scale(1.05);
        box-shadow: 0 5px 7px rgb(87, 86, 86);
      }
  }
  .about {
    margin-bottom: 100px;
    padding-bottom: 3rem;
    .heading {
        margin-top: 30px;
        margin-bottom: 50px;
      }
    .column {
        display: flex;
        align-items: top;
        justify-content: center;
        flex-wrap: wrap;
        .image {
            flex: 1 1 200px;
            img {
                border-radius: px;
              }
          }
        .content {
            flex: 1 1 240px;
            p {
                font-size: 2rem;
                color: $gray;
                padding: 16px 0;
                text-align: justify;
              }
          }
      }
  }
  #biodata {
    padding-top: 100px;
    text-align: center;
    margin-top: -120px;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-top: 50px;
  }

  .box {
    width: 400px;
    height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color: $primary;
    position: relative;
    overflow: hidden;
  }

  .prod, .prod1, .prod2, .prod3 {
    color: $primary;
    font-size: 2.8rem;
    font-weight: bold;
  }

  .arr-container,
  .cancle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: $white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  .arr-container {
    transform: rotate(0deg);
  }

  .active-arr {
    transform: translate(80%, 80%);
  }

  .left-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 20px 0 0 20px;
    transition: all 0.4s;
  }

  .left, .left1, .left2, .left3 {
    background: $primary;
  }
  .off {
    transform: translate(-80%, -80%) rotate(90deg);
  }
  .active {
    transform: translate(0) rotate(0);
  }
  .left-container {
    p {
    color: $white;
    margin-bottom: 15px;
    font-size: 2.5rem;
    text-align: center;
    margin-right: 10px;
  }
  .icons {
    font-size: 1.6rem;
    margin-top: 10px;
    .teks {
        margin-top: 15px;
        color: $white;
        font-size: 1.2rem;
        line-height: 18px;
        margin-right: 15px;
        transition: all 0.4s;
        text-align: justify;
      }
  }
}
.maps {
    margin-left: -2vw;
    border-radius: 10px;
  }

  .slider, .slider1, .slider2, .slider3 {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 4.5vw;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
    input {
        display: none;
    }
}
.slide {
    width: 20%;
    transition: 2s;
    img {
        width: 250px;
        height: 250px;
    }
}
.navigation-manual {
    position: absolute;
    width: 250px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid $white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    :not(:last-child){
        margin-right: 40px;
    }
    :hover{
        background: $white;
    }
}
#radio1:checked ~ .first, #radio4:checked ~ .first, #radio7:checked ~ .first, #radio10:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first, #radio5:checked ~ .first, #radio8:checked ~ .first, #radio11:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first, #radio6:checked ~ .first, #radio9:checked ~ .first, #radio12:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 250px;
    margin-top: 220px;
    justify-content: center;
    div {
        border: 2px solid $white;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
        :not(:last-child){
            margin-right: 40px;
        }
    }
}
#radio1:checked ~ .navigation-auto .auto-btn1, #radio2:checked ~ .navigation-auto .auto-btn2, #radio3:checked ~ .navigation-auto .auto-btn3, #radio4:checked ~ .navigation-auto .auto-btn1, #radio5:checked ~ .navigation-auto .auto-btn2, #radio6:checked ~ .navigation-auto .auto-btn3, #radio7:checked ~ .navigation-auto .auto-btn1, #radio8:checked ~ .navigation-auto .auto-btn2, #radio9:checked ~ .navigation-auto .auto-btn3, #radio10:checked ~ .navigation-auto .auto-btn1, #radio11:checked ~ .navigation-auto .auto-btn2, #radio12:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}

footer {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: $primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .container {
        display: flex;
        align-items: center;
        color: $primary;
        max-width: 1440px;
        margin: 0 auto;
      }
    img {
        width: 30vw;
        height: 8vh;
      }
  }
  .col-left {
    margin-left: 4rem;
    margin-right: 4vh;
  }
  .col-left {
    color: $white;
    flex: 1;
    margin-right: 25px;
    .footer-text {
        color: $white;
        margin: 15px 0 30px;
        line-height: 25px;
        font-size: 1.8rem;
      }
  }
  .social-media-list {
    display: flex;
    li {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        display: grid;
        place-items: center;
        transition: all 0.3s;
        background-color: $white;
        cursor: pointer;
        :not(:last-child) {
            margin-right: 15px;
          }
        :hover {
            background-color: $primary;
            border: 4px solid; 
          }
      }
    a {
        text-decoration: none;
        color: $primary;
        font-size: 2rem;
      }
    li:hover a {
        color: $white;
      }
  }
  .col-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .links-container {
    list-style: none;
    :not(:last-child) {
        margin-right: 25px;
      }
    h4 {
        color: $white;
        text-transform: uppercase;
        font-size: 2rem;
      }
    li {
        margin-top: 20px;
        font-size: 1.5rem;
        :hover a {
            opacity: 100%;
          }
      }
    a {
        color: $white;
        opacity: 50%;
        text-decoration: none;
        transition: all 0.3s;
      }
  }

  //responsive
  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 991px) {
    section {
      padding: 0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
    }

    header {
      position: fixed;
      .navbar a {
        margin-left: 1.8rem;
      }
    }
    .sidebar {
        display: none;
      }
  
      .col-left p,
      .links-container a {
        font-size: 15px;
      }
  
      .col-left p br {
        display: none;
      }
    }

    @media (max-width: 768px) {
        header {
        label {
          visibility: visible;
          opacity: 1;
        }
        .navbar {
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            background: var(--red);
            padding: 1rem 2rem;
            border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
            transition: 0.2s linear;
            a {
                display: block;
                margin: 2rem 0;
                font-size: 2rem;
              }
          }
          input:checked {
            ~ .navbar {
            transform: scaleY(1);
            opacity: 1;
          }
            ~ label::before {
            content: "\f00d";
          }
        }
    }
.home {
    flex-flow: column-reverse;
    .image img {
        width: 70%;
      }
    .content {
        h3 {
        font-size: 4rem;
        margin-top: 80px;
      }
        p {
        font-size: 1.5rem;
      }
    }
  }

  .slide {
    flex-flow: column-reverse;
  }
  footer .container {
    flex-direction: column;
    font-size: 10px;
  }

  .col-left {
    text-align: center;
    margin-right: 0;
  }

  .slider, .slider1, .slider2, .slider3 {
    margin-left: 2vw;
  }

  .social-media-list {
    margin: 0 auto;
    justify-content: center;
  }

  .col-right {
    width: 100%;
    margin: 50px 0 0;
    text-align: center;
  }
}
@media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    
    .col-right {
      flex-direction: column;
    }
  
    .links-container:not(:last-child) {
      margin: 0 0 50px 0;
    } 
  }
