@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
:root {
  --primary: #7E78C7;
  --dark: #544e92;
  --light: #7f78c777;
  --gray: #666;
  --gradient: linear-gradient(90deg, var(--dark), var(--primary));
}

* {
  font-family: "Monda", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

*::section {
  background: var(--dark);
  color: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background: white;
}

/* 1 rem = 16px */
section {
  min-height: 50vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.heading {
    text-align: center;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }

  header .navbar a {
    font-size: 1.5rem;
    margin-left: 5rem;
    font-weight: bold;
    color: var(--primary);
  }

  header .navbar a:hover {
    color: var(--light);
  }

  header input {
    display: none;
  }

  header label {
    font-size: 3rem;
    color: var(--primary);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
  }

  .logo {
    font-size: large;
    font-weight: bold;
    padding: 10px 0px;
    margin-left: -20px;
  }
  
  .logo span {
    color: var(--primary);
  }
  
  /* Sidebar */
  .sidebar {
    z-index: 1000;
    position: fixed;
    top: 30%;
    transform: translateY(-30%);
    background-color: var(--primary);
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.8);
  }

  .side-item {
    position: relative;
  }

  .side-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .side-link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
  }

  .side-link i {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    transition: all 0.3s;
  }

  .side-link .text-side {
    position: absolute;
    background-color: var(--primary);
    height: 100%;
    padding-right: 50px;
    padding-left: 20px;
    line-height: 55px;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: -1;
  }

  .side-item:hover i {
    transform: scale(1.1);
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
  }

  .side-item:hover .text-side {
    transform: translateX(0);
  }

  /* index.html */
  /* Home */
  .home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home .image img {
    margin-left: 12vh;
    width: 32vw;
    animation: float 3s linear infinite;
  }
  
  @keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-3rem);
    }
  }

  .home .content h3 {
    font-size: 50px;
    color: #333;
    text-transform: uppercase;
    line-height: 100%;
  }

  .home .content h3 span {
    color: var(--primary);
    text-transform: uppercase;
  }

  .home .content p {
    font-size: 18px;
    color: var(--gray);
    padding: 1rem 0;
    line-height: 30px;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 5rem;
    border-radius: 12px;
    background: var(--gradient);
    font-size: 18px;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
  }

  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 7px rgb(87, 86, 86);
  }

  /* About */
  .about {
    margin-bottom: 100px;
    padding-bottom: 3rem;
  }

  .about .heading {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .about .column {
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about .column .image {
    flex: 1 1 200px;
  }
  .about .column .image img {
    border-radius: px;
  }
  .about .column .content {
    flex: 1 1 240px;
  }
  .about .column .content p {
    font-size: 2rem;
    color: var(--gray);
    padding: 16px 0;
    text-align: justify;
  }

  /* Biodata */
  #biodata {
    padding-top: 100px;
    text-align: center;
    margin-top: -120px;
  }

  .main-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    margin-top: 50px;
  }

  .box {
    width: 400px;
    height: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288);
    border-radius: 23px;
    flex-direction: column;
    color: var(--primary);
    position: relative;
    overflow: hidden;
  }

  .prod {
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: bold;
  }

  .prod1 {
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: bold;
  }

  .prod2 {
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: bold;
  }

  .prod3 {
    color: var(--primary);
    font-size: 2.8rem;
    font-weight: bold;
  }

  .arr-container,
  .cancle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.4s;
  }

  .arr-container {
    transform: rotate(0deg);
  }

  .active-arr {
    transform: translate(80%, 80%);
  }

  .left-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 20px 0 0 20px;
    transition: all 0.4s;
  }

  .left {
    background: var(--primary);
  }

  .left1 {
    background: var(--primary);
  }

  .left2 {
    background: var(--primary);
  }

  .left3 {
    background: var(--primary);
  }

  .off {
    transform: translate(-80%, -80%) rotate(90deg);
  }
  .active {
    transform: translate(0) rotate(0);
  }
  .left-container p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 2.5rem;
    text-align: center;
    margin-right: 10px;
  }
  .left-container .icons {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .left-container .icons .teks {
    margin-top: 15px;
    color: white;
    font-size: 1.2rem;
    line-height: 18px;
    margin-right: 15px;
    transition: all 0.4s;
    text-align: justify;
  }

  .maps {
    margin-left: -2vw;
    border-radius: 10px;
  }

  .slider {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 4.5vw;
}
.slider1 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 4.5vw;
}
.slider2 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 4.5vw;
}
.slider3 {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 4.5vw;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 250px;
    height: 250px;
}

.navigation-manual {
    position: absolute;
    width: 250px;
    margin-top: 220px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: 0;
}
#radio5:checked ~ .first {
  margin-left: -20%;
}
#radio6:checked ~ .first {
  margin-left: -40%;
}
#radio7:checked ~ .first {
  margin-left: 0;
}
#radio8:checked ~ .first {
  margin-left: -20%;
}
#radio9:checked ~ .first {
  margin-left: -40%;
}
#radio10:checked ~ .first {
  margin-left: 0;
}
#radio11:checked ~ .first {
  margin-left: -20%;
}
#radio12:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 250px;
    margin-top: 220px;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio5:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio6:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio7:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio8:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio9:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}
#radio10:checked ~ .navigation-auto .auto-btn1 {
  background-color: white;
}
#radio11:checked ~ .navigation-auto .auto-btn2 {
  background-color: white;
}
#radio12:checked ~ .navigation-auto .auto-btn3 {
  background-color: white;
}

  /* Footer */
  footer {
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  footer .container {
    display: flex;
    align-items: center;
    color: var(--primary);
    max-width: 1440px;
    margin: 0 auto;
  }
  footer img {
    width: 30vw;
    height: 8vh;
  }

  .col-left {
    margin-left: 4rem;
    margin-right: 4vh;
  }
  .col-left {
    color: #fff;
    flex: 1;
    margin-right: 25px;
  }
  .col-left .footer-text {
    color: #fff;
    margin: 15px 0 30px;
    line-height: 25px;
    font-size: 1.8rem;
  }
  .social-media-list {
    display: flex;
  }
  .social-media-list li {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: grid;
    place-items: center;
    transition: all 0.3s;
    background-color: #fff;
    cursor: pointer;
  }
  .social-media-list li:not(:last-child) {
    margin-right: 15px;
  }
  .social-media-list li:hover {
    background-color: var(--primary);
    border: 4px solid;
  }
  .social-media-list a {
    text-decoration: none;
    color: var(--primary);
    font-size: 2rem;
  }
  .social-media-list li:hover a {
    color: #fff;
  }
  .col-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .links-container {
    list-style: none;
  }
  .links-container:not(:last-child) {
    margin-right: 25px;
  }
  .links-container h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .links-container li {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .links-container a {
    color: #fff;
    opacity: 50%;
    text-decoration: none;
    transition: all 0.3s;
  }
  .links-container li:hover a {
    opacity: 100%;
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 991px) {
    section {
      padding: 0 3%;
      padding-top: 7.5rem;
      padding-bottom: 2rem;
    }

    header {
      position: fixed;
    }

    header .navbar a {
      margin-left: 1.8rem;
    }

    .sidebar {
      display: none;
    }

    .col-left p,
    .links-container a {
      font-size: 15px;
    }

    .col-left p br {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    header label {
      visibility: visible;
      opacity: 1;
    }

    header .navbar {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      background: var(--red);
      padding: 1rem 2rem;
      border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      transform-origin: top;
      transform: scaleY(0);
      opacity: 0;
      transition: 0.2s linear;
    }

    header .navbar a {
      display: block;
      margin: 2rem 0;
      font-size: 2rem;
    }

    header input:checked ~ .navbar {
      transform: scaleY(1);
      opacity: 1;
    }

    header input:checked ~ label::before {
      content: "\f00d";
    }

    .home {
      flex-flow: column-reverse;
    }

    .home .image img {
      width: 70%;
    }

    .home .content h3 {
      font-size: 4rem;
      margin-top: 80px;
    }

    .home .content p {
      font-size: 1.5rem;
    }

    .slide {
      flex-flow: column-reverse;
    }

    .box {
      
    }

    footer .container {
      flex-direction: column;
      font-size: 10px;
    }
  
    .col-left {
      text-align: center;
      margin-right: 0;
    }

    .slider{
      margin-left: 2vw;
    }
    .slider1{
      margin-left: 2vw;
    }
    .slider2{
      margin-left: 2vw;
    }
    .slider3{
      margin-left: 2vw;
    }
  
    .social-media-list {
      margin: 0 auto;
      justify-content: center;
    }
  
    .col-right {
      width: 100%;
      margin: 50px 0 0;
      text-align: center;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    
    .col-right {
      flex-direction: column;
    }
  
    .links-container:not(:last-child) {
      margin: 0 0 50px 0;
    } 
  }
