/* uk desktop */
* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

/* Group's Name */
.logo {
  font-size: large;
  font-weight: bold;
  padding: 10px 70px;
}
.logo span {
  color: #9792d4;
}
/* End of Group's Name */

/* Navigation Bar Styling */
.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* mobile option */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 30px;
  height: 28px;
  top: -8px;
  left: -1px;
  opacity: 0;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(41, 0, 98);
  border-radius: 3px;
  transition: all 0.5s;
}
/* Features */
.menu {
  position: sticky;
  padding: 10px 30px;
  display: flex;
  margin-right: 60px;
}
.menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  padding: 10px;
}

.menu li a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: 0.3s ease;
}

.menu li a:hover {
  color: #9792d4;
}

/* Members Features */
nav .menu .dropdown {
  background-color: white;
  display: none;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

nav ul li:hover .dropdown {
  display: block;
  position: absolute;
  margin-top: 24px;
  color: white;
}

nav .menu .dropdown a:hover {
  background-color: white;
  display: flex;
  position: static;
}
.menu li a:hover,
.menu li a.active {
  color: #7e78c7;
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #7e78c7;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* End of Navbar */

/* Hero Section Styling */
.hero-content .content-title {
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #7e78c7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Video Adjust */
.hero-content .video {
  z-index: 99;
  display: flex;
  justify-content: center;
}

.content-title h1 {
  margin-top: 20vh;
}
/* Brief Philosophy */
.hero-content p {
  position: absolute;
  left: 80px;
  right: 80px;
  top: 580px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
/* Hero Section End */


/* Footer */
footer {
  min-height: 15vh;
  margin-top: 48vh;
  font-size: 19px;
  font-family: "Poppins";
  background-color: #7e78c7;
}

.footer-info {
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.footer-info a {
  font-size: 19px;
  color: white;
  text-decoration: none;
}
.copyright {
  font-size: 12px;
  text-align: center;
}







/* responsive */
@media screen and (max-width: 768px ) {
  nav ul {
      width: 40%;
}
/* Group's Name */
.logo {
  font-size: large;
  font-weight: bold;
  padding: 10px 70px;
}
.logo span {
  color: #9792d4;
}
/* End of Group's Name */

/* Navigation Bar Styling */
.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 40px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* Features */
.menu {
  position: sticky;
  padding: 10px 30px;
  display: flex;
  margin-right: 60px;
}
.menu li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  padding: 10px;
}

.menu li a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
  transition: 0.3s ease;
}

.menu li a:hover {
  color: #9792d4;
}

/* Members Features */
nav .menu .dropdown {
  background-color: white;
  display: none;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

nav ul li:hover .dropdown {
  display: block;
  position: absolute;
  margin-top: 24px;
  color: white;
}

nav .menu .dropdown a:hover {
  background-color: white;
  display: flex;
  position: static;
}
.menu li a:hover,
.menu li a.active {
  color: #7e78c7;
}

.menu li a.active::after,
.menu li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #7e78c7;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* End of Navbar */

/* Hero Section Styling */
.hero-content .content-title {
  margin-bottom: 6vh;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  color: #7e78c7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Video Adjust */
.hero-content .video {
  z-index: 99;
  display: flex;
  justify-content: center;  
}

.content-title h1 {
  margin-top: 20vh;
}
/* Brief Philosophy */
.hero-content p {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 570px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
/* Hero Section End */


/* Footer */
footer {
  min-height: 15vh;
  margin-top: 48vh;
  font-size: 19px;
  font-family: "Poppins";
  background-color: #7e78c7;
}

.footer-info {
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.footer-info a {
  font-size: 19px;
  color: white;
  text-decoration: none;
}
.copyright {
  font-size: 12px;
  text-align: center;
}
}

