@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --primary: #9a94df;
  --dark: #6862b0;
  --light: #7f78c752;
  --gray: #666;
  --gradient: linear-gradient(90deg, var(--dark), var(--primary));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

*::section {
  background: var(--dark);
  color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

.bg {
  position: absolute;
  width: 1440px;
  height: 320px;
  margin: 0 auto;
  left: 0px;
  top: 0px;
  background-color: var(--light);
}

.content {
  position: relative;
  width: 80vw;
  height: 72vh;
  left: 9%;
  top: 30%;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .navbar a {
  font-size: 1.5rem;
  margin-left: 5rem;
  font-weight: bold;
  color: var(--dark);
  padding: 10px;
}

header .navbar a:hover {
  color: var(--primary);
}

header input {
  display: none;
}

header label {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.logo {
  font-size: large;
  font-weight: bold;
  padding: 10px 0px;
  margin-left: -20px;
}

.logo span {
  color: var(--primary);
}
/* Header end */

.isi {
  display: flex;
}

/* Biodata */
.biodata {
  position: relative;
  top: 20%;
  left: 8%;
}

.biodata h2 {
  font-size: 40px;
  color: var(--primary);
  margin-bottom: 2%;
}

.biodata p {
  width: 30vw;
  font-size: 14px;
}