* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #7e78c7;
  }
  
  /* Group's Name */
  .logo {
    font-size: large;
    font-weight: bold;
    padding: 10px 70px;
  }
  .logo span {
    color: #9792d4;
  }
  /* End of Group's Name */
  
  /* Navigation Bar Styling */
  .navbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
    z-index: 999;
  }
  
  /* Features */
  .container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 0 auto;
    gap:20px;
    position: relative;
  }

  .menu {
    padding: 10px 30px;
    display: flex;
  }
  .menu li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    padding: 10px;
  }
  
  .menu li a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
  .menu li a:hover {
    color: #7e78c7;
  }
  
  /* Members Features */
  nav .menu .dropdown {
    background-color: white;
    display: none;
  }
  
  nav ul li:hover .dropdown {
   display: block;
    position: absolute;
    margin-top: 4px;
    color: #7e78c7;
  }
  
  nav .menu .dropdown a:hover {
    background-color: whitesmoke;
    color: #7e78c7;
    display: flex;
    position: static;
  }
  /* End of Navbar */
  
  /* Hero Section Styling */
  .hero-content .content-title {
    margin-bottom: 40;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hero-content h1 {
    margin-top: 16vh;
  }

  .card {
    position: relative;
  }

  .card-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    line-height: 8px;
  }

  .card-body p {
    font-size: 16px;
  }

  .card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .sosmed-link {
    display: flex;
    justify-content: center;
  }

  /* Brief Philosophy */
  .hero-content p {
    position: absolute;
    left: 250px;
    right: 250px;
    top: 640px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .hero-content a {
    padding-left: 6vh;
    padding-top: 12px;
    padding-bottom: 1vh;
    text-decoration: none;
    color: white;
  }

  .hero-content a:hover {
    text-decoration: none;
    color: #a6a0e3;
  }

  .hero-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  /* Hero Section End */
  
  footer {
    min-height: 20vh;
    margin-top: 0vh;
    font-family: "Poppins";
  }

  .wrap-layer {
    position: relative;
  }
  
  .text-layer {
    position: absolute;
    width: 100%;
    top: 10vh;
    left: 0;
    text-align: center;
    line-height: 25px;
    margin-top: 18vh;
    font-size: smaller;
    color: #7e78c7;
  }

  .text-layer a { 
    text-decoration: none;
    color: #7e78c7;
  }

  .text-layer a:hover {
    color: #a6a0e3;
  }

  /* responsive */
/* uk tab */
@media screen and (max-width: 768px ) {
    nav ul {
        width: 40%;
    }
    .hero-content .content-title {
        font-size: 25px;
    }
    .background-layer {
        display: block;
    }
}
/* uk mobile */
@media screen and (max-width: 576px) {
    .menu-toggle{
        display: flex;
    }
    .navbar {
        display: flex;
        position: fixed;
    }
    nav ul {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #a6a0e3;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    .hero-content .content-title {
        margin-left: 20;
        font-size: 20px;
    }

    .hero-content .content-title h1 {
        margin-left: 20;
    }
    .background-layer {
        display: block;
        position: relative;
        width: 100;
    }
    .card {
        width: 40px;
        grid-column: span 4;
    }
}